
# MNIST TensorFlow Training (0~1)

This is a implementation and training/test from a MNIST dataset, available on: https://www.kaggle.com/datasets/oddrationale/mnist-in-csv.

In this implementation, it just predict only over 2 values: 0 or 1.

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
# Read train and test data
data = pd.read_csv('mnist_train.csv')
data_test = pd.read_csv('mnist_test.csv')

In [ ]:
data.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Separate data to use only data with labels 1 or 0
data01 = data.loc[data['label'].isin([0,1])]
data01_test = data.loc[data['label'].isin([0,1])]

In [93]:
# Show head of training data
data01.head(10)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Show head of test data
data01_test.head(10)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Separate X_train data to the Y_train data
X = data01.iloc[:,1:]
Y = data01.iloc[:, :1]

# Separate X_test data to the Y_test data
X_test = data01_test.iloc[:,1:]
Y_test = data01_test.iloc[:, :1]

In [ ]:
X.head()

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
Y.head()

    label
1       0
3       1
6       1
8       1
14      1

In [94]:
print('X shape is', X.shape)
print('Y shape is', Y.shape)

print('X shape is', X_test.shape)
print('Y shape is', Y_test.shape)

X shape is (12665, 784)
Y shape is (12665, 1)
X shape is (12665, 784)
Y shape is (12665, 1)

In [ ]:
# Defining the training model
model = Sequential (
    [
        tf.keras.Input(shape=(784,)),
        Dense(25, activation='sigmoid'),
        Dense(20, activation='sigmoid'),
        Dense(1, activation='sigmoid')
    ], name= "model1"
)

In [ ]:
model.summary()

Model: "model1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 25)                19625

 dense_10 (Dense)            (None, 20)                520

 dense_11 (Dense)            (None, 1)                 21

=================================================================
Total params: 20,166
Trainable params: 20,166
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Defining the loss and the optimizer for the model
model.compile(
    loss=tf.keras.losses.BinaryCrossentropy(),
    optimizer=tf.keras.optimizers.Adam(0.001)
)

In [ ]:
# Training the model
model.fit(X,Y, epochs=20)

Epoch 1/20
396/396 [==============================] - 2s 3ms/step - loss: 0.1453
Epoch 2/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0224
Epoch 3/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0113
Epoch 4/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0085
Epoch 5/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0068
Epoch 6/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0062
Epoch 7/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0052
Epoch 8/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0051
Epoch 9/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0044
Epoch 10/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0039
Epoch 11/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0047
Epoch 12/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0050
Epoch 13/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0043
Epoch 14/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0045
Epoch 15/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0042
Epoch 16/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0038
Epoch 17/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0039
Epoch 18/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0035
Epoch 19/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0032
Epoch 20/20
396/396 [==============================] - 1s 3ms/step - loss: 0.0035

In [ ]:
# Evaluate some test data
for i in range (20):
  prediction = model.predict(X_test.values[i].reshape(1,-1))
  print(f"Prediction a {Y_test_labels.values[i][0]} as: {prediction.argmax()}")

1/1 [==============================] - 0s 21ms/step
Prediction a zero: [[0.0004081]]
1/1 [==============================] - 0s 19ms/step
Prediction a one: [[0.9998738]]
1/1 [==============================] - 0s 24ms/step
Prediction a one: [[0.9999141]]
1/1 [==============================] - 0s 19ms/step
Prediction a one: [[0.9999141]]
1/1 [==============================] - 0s 18ms/step
Prediction a one: [[0.9999141]]
1/1 [==============================] - 0s 24ms/step
Prediction a zero: [[0.00042877]]
1/1 [==============================] - 0s 25ms/step
Prediction a one: [[0.9998738]]
1/1 [==============================] - 0s 28ms/step
Prediction a one: [[0.98860556]]
1/1 [==============================] - 0s 21ms/step
Prediction a zero: [[0.00043594]]
1/1 [==============================] - 0s 22ms/step
Prediction a zero: [[0.00043594]]